@import url("./common.css");
:root{
    --primary: #f8f3f3e6;
}
main {
	color: #3d1319;
	width: 90%;
	background-color: var(--primary);
	border: 2px solid #f9f9f9e6;
	box-shadow: 1px 5px 10px #F0F0F0;
	margin-bottom: 30%;
	margin-top: 10%;
    margin-left: 5%;
}
h1
{
    text-align: center;
}
.mentions
{
    text-align: justify;
}
/*------------------------responsive----------------------*/

@media only screen and (min-width: 768px) {

	main {
		width: 80%;
		max-width: 800px;
		margin: auto;
		margin-top: 10%;
		margin-bottom: 25%;
    }
}